<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestUI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestUI.UserSettings>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="ValueAssigner" serializeAs="String">
                <value />
            </setting>
            <setting name="BucketDivider" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorCombiner" serializeAs="String">
                <value />
            </setting>
            <setting name="FinalNumberOfColors" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Iterations" serializeAs="String">
                <value>10</value>
            </setting>
        </TestUI.UserSettings>
    </userSettings>
</configuration>